* {
    margin-left: 15px;
    margin-right: 15px;
    padding: 0;
    box-sizing: border-box; 
    font-family: "Poppins";
}

a {
    text-decoration: none;
}

ul li  {
    list-style-type: none;
}


.navbar-header a {
    font-family: "Poppins";
    font-weight: 700;
    font-size: 36px;
    color: #000000
}

#bell-nav {
    width: 24px;
    height: 24px;
}

#avatar-nav {
    width: 60px;
    height: 60px;
}

#username {
    font-family: "Poppins";
    font-size: 24px;
    color: #7200B8;
}


.nav-centerside .navlinks a {
    font-size: 16px;
    color: #000000;
    font-family: "Poppins";
    font-weight: 700;
    padding-left: 0;
    padding-right: 0;
}

.navlinks {
    margin-right: 0;
}

.nav-rightside {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.sidebar {
    height: 100%;
    background-color: #000000;
    border-radius: 10px;
    padding-top: 60px;
    display: flex;
    flex-direction: column;
}

.sidebar li {
    font-size: 20px;
    color: #FFFFFF;
    font-family: "Poppins";
    font-weight: 700;
    padding-top: 30px;
    padding-bottom: 30px;
}

.dashboard-review-feedback {
    display: flex;
    justify-content: space-between;
    margin: 0;
}

#review-feedback-link {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#review-feedback {
    color: black;
    border: 1px solid #7200B8;
    padding: 10px 10px;
    border-radius: 10px;
    
}

#dashboard {
    background-color: #A717FE;
    padding: 20px 10px;
    border-radius: 10px;
}

.second-row {
    margin-top: 50px;
    color: black;
    margin-bottom: 50px;
}

.item-second-row {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #000000;
    color: #FFFFFF;
    border-radius: 10px;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
}

.item-third-row {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 100px;
    background-color: #000000;
    color: #FFFFFF;
    border-radius: 10px;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
}

.latest-update {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #000000;
    color: #FFFFFF;
    border-radius: 10px;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
}

.latest-update p {
    font-weight: 200;
    font-size: 12px;
}

.loan-status-parent {
    width: 100%;
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
}

.last-line-parent {
    margin-top: 50px;
    margin-right: 0;
    margin-left: 0;
}

.last-line {
    display: flex;
    justify-content: space-between;
}

.loan-status {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #000000;
    color: #FFFFFF;
    border-radius: 10px;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    margin: 0;
    width: 300px;
    height: 70px;
}

.chat-now-dialog {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#chat-now {
    color: #7200B880;
    font-size: 20px;
}

#chat-now-pic {
    height: 50px;
    width: 43.75px;
}

